.nono{
    font-family: monospace;
    font-size: 4rem;

}
body{
    height: 100vh;
    width: 100vw;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}